#header_container {
  flex: 0 0 auto;
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;

  // @include mobile {
  //   margin: 5px 0px;
  // }
}
.header-cart{
  position: relative;
  margin-right: 50px;
}
.header-cart__img{
  width: 50px;
}
.header-cart__counter{
  position: absolute;
  right: 20%;
  top: 0%;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid orange;
  border-radius: 50%;
  background-color: #181a1c;
  color: orange;
}