.cart__container {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.product-in-cart__container {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid orange;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #1e1b1b80;
  height: -moz-fit-content;
  height: fit-content;
}
.product-title {
  display: flex;
  background-color: #181a1c;
  padding: 0.3rem;
  border-bottom: 1px solid orange;
  align-items: center;
  justify-content: space-between;
}
.product-title__h2 {
  margin: 0;
  color: orange;
}

.product-title__controls {
  display: flex;
  gap: 5px;
}
.title-items {
  display: flex;
  align-items: center;
  gap: 5px;
  p {
    margin: 0;
    color: wheat;
  }
}
.title-items__input {
  text-align: center;
  width: 15px;
  background-color: #373636;
  cursor: pointer;
  color: orange;
  border: 1px solid orange;
  border-radius: 0.2rem;
  padding: 0.1rem;
  font-size: 140%;
}
.title-page {
  display: flex;
  align-items: center;
  gap: 5px;
  p {
    margin: 0;
    color: wheat;
  }
}
.product-page__button {
  background-color: #373636;
  cursor: pointer;
  color: orange;
  border: 1px solid orange;
  border-radius: 0.2rem;
  padding: 0.1rem;
  font-size: 140%;
}

.cart-product-description {
  width: 98%;
  display: flex;
  align-items: center;
  gap: 1%;
  padding: 0 1% 0 1%;
}
.product-number-items {
  margin: 0 auto;
  width: 3%;
  height: auto;
  text-align: center;
  border: 1px solid orange;
  border-radius: 50%;
  background-color: #181a1c;
  color: orange;
}
.cart-product__image {
  width: 20%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid orange;
  overflow: hidden;
}
.product__image {
  width: 100%;
  height: 100%;
}
.product-description__container {
  width: 60%;
  height: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-description-other {
  width: 100%;
  display: flex;
  justify-content: space-around;
  p {
    color: #d2b06f;
    font-size: 80%;
  }
}
.product-control-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-description-title {
  margin: 0;
  color: wheat;
}
.line-span {
  width: 100%;
  height: 1px;
  background-color: #181a1c;
}
.product-decription-content {
  margin: 0;
  color: wheat;
  font-size: 80%;
}
.stock-control,
.amount-price-control {
  text-align: center;
  color: #d2b06f;
}
.amount-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0;
  }
}
.product-amount__button {
  width: 2rem;
  height: 2rem;
  background-color: #181a1c;
  border-radius: 10rem;
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border: 1px solid orange;
  color: orange;
}
.summary__container {
  width: 29%;
  border: 1px solid orange;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #1e1b1b80;
  height: -moz-fit-content;
  height: fit-content;
}
.summary-title {
  margin: 0;
  text-align: center;
  font-size: 130%;
  background-color: #181a1c;
  padding: 0.3rem;
  border-bottom: 1px solid orange;
  color: orange;
}
.summary-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summary-products {
  text-align: center;
  color: orange;
  margin-bottom: 0;
  span {
    color: wheat;
  }
}
.summary-total-price {
  text-align: center;
  color: orange;
  span {
    color: wheat;
  }
}
.summary-discount__input {
  background-color: #181a1c;
  width: 70%;
  border: 1px solid orange;
  color: orange;
  border-radius: 2rem;
  padding: 0.4rem;
  text-align: center;
  outline: none;
  font-size: 100%;
}
.promo-code-example {
  display: block;
  margin: 3% auto;
  text-align: center;
  color: #e38383;
}
.summary-buy__button {
  font-size: 100%;
  display: block;
  padding: 2% 0;
  background: #9a3535;
  color: wheat;
  border: 2px solid orange;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 50%;
  margin: 2rem auto 1rem;
}
.modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  padding: 1%;
  border: 1px solid orange;
  border-radius: 0.5rem;
  width: 40%;
  background-color: #181a1c;
  z-index: 99;
  position: absolute;
}
.card-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-form__item {
  background-color: #181a1c;
  width: 100%;
  border: 1px solid orange;
  color: orange;
  border-radius: 2rem;
  padding: 0.4rem;
  outline: none;
  font-size: 90%;
  text-align: center;
  margin: 2% auto;
}
.person-details {
  width: 90%;
  margin: auto;
  h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 90%;
    color: orange;
  }
}
.card-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title {
  text-align: center;
  color: orange;
  font-size: 90%;
}
.card-data {
  border: 1px solid orange;
  margin: 0 auto;
  border-radius: 0.5rem;
  background: rgb(0, 9, 36);
  background: linear-gradient(
    90deg,
    rgb(0, 9, 36) 6%,
    rgb(9, 9, 121) 34%,
    rgb(0, 212, 255) 100%
  );
  width: 55%;
  height: 7rem;
}
.card-data-number {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7% auto 10%;
}
.card-img {
  background-color: #fff;
  width: 10%;
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.card-number__input {
  background: rgb(233, 233, 202);
  border: 1px solid orange;
  border-radius: 0.3rem;
  outline: none;
  text-align: center;
  margin-left: 2%;
  font-size: 90%;
  color: #000;
  font-weight: 700;
}
.card-data-other {
  display: flex;
}
.card-valid-data {
  display: flex;
  width: 50%;
}
.card-cvv__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50%;
  color: orange;
}
.card-cvv-data {
  display: flex;
  width: 50%;
}
.card-valid__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50%;
  color: orange;
}
.card-valid {
  background: rgb(233, 233, 202);
  border: 1px solid orange;
  border-radius: 0.3rem;
  outline: none;
  text-align: center;
  margin-left: 2%;
  font-size: 90%;
  color: #000;
  font-weight: 700;
  width: 60%;
  height: 1rem;
}
.cvv {
  background: rgb(233, 233, 202);
  border: 1px solid orange;
  border-radius: 0.3rem;
  outline: none;
  text-align: center;
  margin-left: 2%;
  font-size: 90%;
  color: #000;
  font-weight: 700;
  width: 60%;
  height: 1rem;
}
.confirm__button{
    margin: 3% 0 3% 0;
    width: 40%;
    font-size: 90%;
    background-color: #3f1010;
    border: 1px solid orange;
    border-radius: 0.5rem;
    padding: 1%;
    cursor: pointer;
    display: block;
    margin: 5% auto;
    color: orange;
}
.closed-modal{
    display: none;
}