#page_container {
  flex: 1 0 auto;
  position: relative;
  display: flex;
}
//filter start
.filters {
  width: 25%;
}
.selections {
  height: 200px;
  overflow: auto;
}

.range {
  position: relative;
  display: flex;
  flex-direction: column;

}

.sliders {
  position: relative;
  min-height: 50px;
}

.range-values {
  display: flex;
  justify-content: space-around;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
  
}

.min-value {
  height: 0 !important;
  z-index: 1;
}

//filter ends

//product start
.products {
  width: 75%;
}

.products-header {
  display: flex; 
  justify-content: space-between;
}

.card-mode {
  display: flex;
  flex-wrap: wrap;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 200px;
    overflow: hidden;

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -2;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }

    &__information {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: transform 0.3s ease 0s;
      transform: translate(-100%, 0px);
      color: #fff;
      background: rgba($color: #000000, $alpha: 0.5);
      z-index: -1;
    }

    &:hover {
      .item__information {
        transform-origin: 0 0;
        transform: translate(0, 0px)
      }
    }
  }

}

.list-mode {
  display: flex;
  flex-wrap: wrap;
  // justify-content: spa;

  .item {
    // position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    // overflow: hidden;

    &__image {
      // position: absolute;
      // top: 0;
      // left: 0;
      height: 100%;
      width: 100%;
      z-index: -2;
      background-size: contain !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }

    &__information {
      display: flex;
      flex-direction: column;
    }

  }

}



//product ends

//selections start
.selections-variants {

  // display: flex;
  list-style: none;
  // flex-direction: column;

  &__count {
    display: inline-block
  }

}

//selections end

//view modes

.products-view-mode {
  display: flex;
  // flex-wrap: nowrap;
  align-items: center;
}

.view__list {
  position: relative;
  // display: none;
  width: 18px;
  height: 18px;

  .view__list-line {
    position: absolute;
    display: inline-block;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #000;	
    border-radius: 2px;
  }

  &:after {
    content: "";
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
  }

  &:before {
    background-color: #000;
    position: absolute;
    content: "";
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
  }

}

.view__card {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  font-size: 16px;

  &-dot {
    display: inline-block;
    white-space: nowrap;
    width: 20%;
    height: 20%;
    margin: 6.65%;
    font-size: 50%;
    border-radius: 100%;
    overflow: hidden;
    color: #000;
    background-color: #000;
  }
}

