.product__container {
  width: 80%;
  height: fit-content;
}
.product-path {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  span {
    color: orange;
  }
}
.product-about__container {
  width: 100%;
  border: 2px solid orange;
  border-radius: 1rem;
  background: rgba(24, 26, 28, 0.5);
  overflow: hidden;
}
.product-about__title {
  width: 100%;
  text-align: center;
  background: #181a1c;
  border-bottom: 1px solid orange;
}
.about-product__title {
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 150%;
}
.description__container {
  display: flex;
  gap: 0.5rem;
}
.product-photo__container {
  display: flex;
}
.small-photo__img {
  width: 90%;
  border: orange solid 1px;
  border-radius: 5px;
  overflow: hidden;
}
.product-photo__container {
  width: 40%;
  display: flex;
}
.product-small-photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}
.product-large-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.large-photo__img {
  width: 90%;
}
.product-info {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.info__container {
  width: 100%;
  margin: 1% auto;
  border: 1px solid orange;
  border-radius: 0.3rem;
  overflow: hidden;
  text-align: center;
}
.product-info__title {
  text-align: center;
  margin: 0;
  background-color: #181a1c;
  padding: 0.7%;
  color: orange;
}
.product-info__content {
  margin: 0;
}
.product-price__container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product-price__button {
  font-size: 40%;
  display: block;
  padding: 7% 0;
  background: #9a3535;
  color: wheat;
  border: 2px solid orange;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 100%;
  margin: 0.5rem auto;
}
.product-price {
  width: 90%;
  font-size: 200%;
  color: wheat;
  text-shadow: 0 0 10px rgb(184 24 24), 0 0 20px red, 0 0 30px red, 0 0 40px red;
}
.hide {
  display: none;
}
